.memory-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #F5F5F5;
  color: black;
  font-family: Arial, sans-serif;
}

.game-board, .game-info {
  margin: 20px;
}

.button-container {
  position: relative;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card-container {
  width: 100px;
  height: 150px;
}

.message-container {
  margin-top: 20px;
}

.victory-message {
  font-size: 3em;
  color: red;
}
